@media (max-width: 575.98px) {
    header {
        .nav-links {
            display: none;
        }

        svg {
            display: block;
        }
    }

    aside {
        display: block;
    }

    main.burger-builder {
        flex-direction: column;

        .controls-cont {
            width: 100vw;
            height: 55vh;
        }

        .burger-cont {
            width: 100vw;
            height: 45vh;
        }

        .order-summery {
            width: 80vw;
        }
    }

    main.checkout {
        flex-direction: column;

        .review {
            width: 100vw;
            height: 40%;
            flex-direction: row;

            .burger-cont {
                height: 100%;
                width: 60%;

                .burger{
                    width: 85%;

                    h2{
                        font-size: 12px;
                    }
                }
            }

            .summery {
                height: 100%;
                width: 40%;
                align-items: center;

                div{
                    padding: 1rem;
                    font-size: 10px;
                }
            }
        }

        .information {
            width: 100vw;
            height: 60%;

            .info-cont{
                font-size: 10px;

                input{
                    font-size: 10px !important;
                    margin: 7px 0 !important;
                }

                .submit-row{
                    margin-top: 1rem !important;

                    button{
                        font-size: 15px !important;
                    }
                }
            }
        }
    }

    main.orders{
        
        .single-order{
            width: 90%;

            .detail-row{
                flex-direction: column;
                align-items: flex-start;

                h4{
                    margin-top: 1rem;
                }
            }

            .contain-row{
                flex-direction: column;
                align-items: flex-start;
                margin: 2rem 0;

                ul{
                    margin-top: 1rem;
                    flex-direction: column;
                }
            }

            .info-row{
                margin-top: 2rem;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    header {
        .nav-links {
            display: none;
        }

        svg {
            display: block;
        }
    }

    aside {
        display: block;
    }

    main.burger-builder {
        flex-direction: column;

        .controls-cont {
            width: 100vw;
            height: 55vh;
        }

        .burger-cont {
            width: 100vw;
            height: 45vh;

            .burger {
                width: 80%;
            }
        }

        .order-summery {
            width: 80vw;
        }
    }

    main.checkout {
        flex-direction: column;

        .review {
            width: 100vw;
            height: 40%;
            flex-direction: row;

            .burger-cont {
                height: 100%;
                width: 60%;

                .burger{
                    width: 85%;
                }
            }

            .summery {
                height: 100%;
                width: 40%;
                align-items: center;

                div{
                    padding: 1rem;
                }
            }
        }

        .information {
            width: 100vw;
            height: 60%;
        }
    }

    main.orders{
        
        .single-order{
            width: 90%;

            .contain-row{
                flex-direction: column;
                align-items: flex-start;
                margin: 2rem 0;

                ul{
                    margin-top: 1rem;
                }
            }

            .info-row{
                margin-top: 2rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        .nav-links {
            display: none;
        }

        svg {
            display: block;
        }
    }

    aside {
        display: block;
    }

    main.burger-builder {
        flex-direction: column;

        .controls-cont {
            width: 100vw;
            height: 55vh;
        }

        .burger-cont {
            width: 100vw;
            height: 45vh;

            .burger {
                width: 80%;
            }
        }

        .order-summery {
            width: 70vw;
        }
    }

    main.checkout {
        flex-direction: column;

        .review {
            width: 100vw;
            height: 40%;
            flex-direction: row;

            .burger-cont {
                height: 100%;

                .burger{
                    width: 75%;
                }
            }

            .summery {
                height: 100%;
                width: 45%;
                align-items: center;
            }
        }

        .information {
            width: 100vw;
            height: 60%;
        }
    }
    main.orders{
        
        .single-order{
            width: 90%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px)and (max-width: 1440px) {}

@media (min-width: 1440px) and (max-width: 1700px) {}

@media (min-width: 1700.02px) {}